body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.justify-content-start.flex-grow-1.pe-3.navbar-nav > a.nav-link.active {
  color: green;
}

a.navbar-brand.active {
  color: green;
}

.backgroundImage {
  background-image: url("/public/Images/Cocktail_serve.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/*The below code invokes continuous horizontal scrolling of content*/

.horizontal-scroller {
  display: flex;
  flex-wrap: nowrap;
  cursor: grab;
  overflow-x: scroll; /*Keeps the ability to scroll horizontally*/
}

/*Hides scrollbar for Chrome,Safari and Opera*/

.horizontal-scroller::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.horizontal-scroller {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.card {
  flex: 0 0 auto;
}

/*End */
